@use 'sass:map';
@use '../../styles/effects.scss' as effects;
@use '../../styles/spacing.scss' as spacing;

$modalWidth: 480px;

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bgAlpha);
}

.Container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.Dialoge {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: $modalWidth;
  background-color: var(--background);
  border-radius: map.get(effects.$cornerRadius, 'l');
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  padding: map.get(spacing.$spacing, 'l1');
}

.Content {
  position: relative;
}

.Header {
  display: flex;
  align-items: center;
}

.Close {
  position: absolute;
  top: 0;
  right: 0;
  width: map.get(spacing.$spacing, 'm3');
  height: map.get(spacing.$spacing, 'm3');
  cursor: pointer;

  background-color: transparent;
  border: none;
}

.Body {
  margin-top: map.get(spacing.$spacing, 'm3');
}

.Footer {
  margin-top: map.get(spacing.$spacing, 'm3');
}
