@use 'sass:map';
@use './styles/typography.scss' as typography;
@import '../node_modules/normalize-scss/sass/normalize.scss';
@import './styles/themes.scss';

html {
  font-size: 1rem;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: map.get(typography.$typo, 'type', 'primary'), Arial, sans-serif;
  font-size: map.get(typography.$typo, 'size', 's3');
  font-weight: map.get(typography.$typo, 'weight', 'regular');
  line-height: map.get(typography.$typo, 'leading', 'default');
  color: var(--textPrimary);
  background-color: var(--background);
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

#root {
  min-height: 100vh;
}
