@use 'sass:map';
@use '../shared/styles/spacing.scss' as spacing;

.stack {
  display: flex;

  /* STACK DIRECTIONS */
  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  /* STACK SPACING */
  @each $key, $value in spacing.$spacing {
    &--#{$key}:not(.stack--row) {
      > * + * {
        margin-top: $value;
      }
    }

    &--#{$key}:not(.stack--column) {
      > * + * {
        margin-left: $value;
      }
    }
  }

  /* STACK ALIGNMENT */
  $aligment: start, center, end, stretch;

  @each $value in $aligment {
    &--#{$value} {
      align-items: $value;
    }
  }

  /* STACK JUSTIFY */
  $justify: start, center, end, between, around, evenly;

  @each $value in $justify {
    &--#{$value} {
      justify-content: $value;
    }
  }
}
