@use 'sass:map';
@use '../../styles/spacing.scss' as spacing;

.Stack {
  display: flex;
}

/* STACK DIRECTIONS */
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

/* STACK SPACING */
@each $key, $value in spacing.$spacing {
  .#{$key}:not(.row) {
    > * + * {
      margin-top: $value;
    }
  }

  .#{$key}:not(.column) {
    > * + * {
      margin-left: $value;
    }
  }
}

/* STACK ALIGNMENT */
$aligment: start, center, end, stretch;

@each $value in $aligment {
  .align-#{$value} {
    align-items: $value;
  }
}

/* STACK JUSTIFY */
$justify: start, center, end, between, around, evenly;

@each $value in $justify {
  .justify-#{$value} {
    justify-content: $value;
  }
}
